@import 'assets/styles/variables';

.menu {
    padding: 20px $padding-horizontal;
}

.header {
    background-image: url("/assets/images/header.png");
    background-size: cover;
    height: 300px;

    .text {
        color: #fff;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }

}